
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family:'Jost',sans-serif;
}

body{
 background-color:#f7f0b3;
  display:flex;
  flex-direction: column;
  flex-wrap: gap;
}
 nav{
  height:50px;
  background-color: LightSeaGreen;
  display: flex;
  justify-content:space-between;
  padding:10px;
 }

 a{
  text-decoration: none;
  color:white;
 }

 a:hover{
  border-bottom: 4px solid back;
  transition: 0.3s all;
  border-radius:2 px;
  trasnform: scale (1.1)
 }
 .btn{
   background-color: FFFF00;
    border-radius:10 px;
    border:none;
    padding:5px;
    cursor:pointer;
 }
